* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

:root {
    --thumbnail: url(../images/documents.png);
}

.header {
    display: flex;
    justify-content: center;

    position: relative;
    padding: 1rem;

    background-color: #f1f1f1;
}
.section-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.projects h3 {
    padding: 1rem;
    text-align: center;
}
.projects-grid {
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);

    border: 2px solid black;

    background-color: #f3f3f3;
    width: 90vw;
    margin: auto;
}
.project {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.125rem;
    text-decoration: none;
    
    min-width: 20%;
    min-height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    
    border-radius: 5px;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), var(--thumbnail);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project:hover {
    transition: 300ms;
    transform: scale(102%);
    box-shadow: 0 0 4px black;
}
.project h3,
.project p {
    color: white;
    max-width: 20ch;
    max-height: 10rem;
    overflow: auto;
}
.project h3 {
    font-size: 0.8rem;
}
.project p {
    font-size: 0.6rem;
    font-weight: bold;
}
.project img {
    width: min(50px, 100%);
    height: 100%;
}
