.about-me {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 50%;
    padding: 0.5rem 0.75rem;

    min-height: 12rem;
    box-shadow: 0 0 3px #d1d1d1;
}

#description-content {
    margin-top: 2rem;
}

.description p {
    padding: 1.5rem;
}

.description h3 {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(151, 151, 151);
}

.description a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: rgb(151, 151, 151);
}

.description nav ul {
    display: flex;
}

.description nav ul li {
    list-style: none;
    margin: 0 0.125rem;
}

.description nav ul li a {
    font-size: 14px;
}