.post-full {
    display: flex;
    flex-direction: column;

    position: relative;

    overflow: hidden;

    width: 50%;
    padding: 0.5rem 0.75rem;

    min-height: 12rem;
    box-shadow: 0 0 3px #d1d1d1;
}

.post-full:hover {
    transition: 300ms ease forwards;
    box-shadow: 0 0 6px rgb(165, 165, 165);
}

.post-full p {
    padding: 1.5rem;
}

.post-full a:hover {
    transition: 300ms ease;
    color: #32328f;
}

.post-full:hover a,
.post-full:hover h3 {
    transition: 300ms ease;
    color: rgb(85, 85, 85);
}

.post-full h3 {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #979797;
}

.post-full a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #979797;
}

.post-full nav ul {
    display: flex;
}

.post-full nav ul li {
    list-style: none;
    margin: 0 0.125rem;
}

.post-full nav ul li a {
    font-size: 14px;
}