.post-preview {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 50%;
    padding: 0.5rem 0.75rem;

    min-height: 12rem;
    box-shadow: 0 0 3px #d1d1d1;
}

.post-preview p {
    padding: 1.5rem;
}

.post-preview h3 {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #979797;
}

.post-preview a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #979797;
}

.post-preview nav ul {
    display: flex;
}

.post-preview nav ul li {
    list-style: none;
    margin: 0 0.125rem;
}

.post-preview nav ul li a {
    font-size: 14px;
}